.centered{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10em;
	padding: 0.2em 0;
}

p{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	padding: 0.2em 0;
}